<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fy.mapper.StaffDutyMapper">

    <resultMap id="BaseResultMap" type="edu.fy.entity.StaffDuty">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="staffId" column="staff_id" jdbcType="INTEGER"/>
        <result property="dutyId" column="duty_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,staff_id,duty_id
    </sql>
    <select id="selectDutyBaseByStaffId" resultType="dutyBaseDTO">
        select d.id, d.name
        from staff_duty sd
                 left join duty d on sd.duty_id = d.id
        where sd.staff_id = #{staffId}
    </select>
</mapper>
